@import '../../global/variable.scss';

.scroll {
    .ScrollbarsCustom-Wrapper {
        inset: 0px 0px 0px 0px !important;
    }

    .ScrollbarsCustom-Track {
        width: 4px !important;
    }

    .ScrollbarsCustom-Thumb {
        background-color: $color-primary !important;
        width: 3px !important;
    }
}