@import '../../global/variable.scss';

.scroll {
    .ScrollbarsCustom-Content {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .ScrollbarsCustom-Wrapper {
        inset: 0px 0px 0px 0px !important;
    }

    .ScrollbarsCustom-Track {
        width: 4px !important;
    }

    .ScrollbarsCustom-Thumb {
        background-color: $color-primary !important;
        width: 3px !important;
    }

    &::before,
    &::after {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 3rem;
        z-index: 1;
        pointer-events: none;

        @media (max-width:$width-table) {
            content: none
        }
    }

    &::before {
        top: -1.5rem;
        background: linear-gradient(180deg, #00000000 0%, $btn-bg 30%, $btn-bg 70%, #00000000 100%);
    }

    &::after {
        bottom: -1.5rem;
        background: linear-gradient(180deg, #00000000 0%, $btn-bg 30%, $btn-bg 70%, #00000000 100%);
    }
}