@import '../../global/variable.scss';

.services {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    li {
        width: 100%;
        padding-bottom: 0;
        border-bottom-width: 2px;
        border-bottom-style: solid;
        border-bottom-color: $color-white;
        transition: all ease-in-out 300ms;
        pointer-events: all;
        cursor: pointer;

        &.active {
            border-bottom-color: $color-primary;
            padding-bottom: 1.3125rem;

            .title {
                color: $color-primary;
            }

            @media (max-width:$width-shortDesktop) {
                padding-bottom: 1.25rem;
            }

            @media (max-width:$width-table) {
                padding-bottom: 1.625rem;
            }

            @media (max-width:$width-mobile) {
                padding-bottom: 1.625rem;
            }
        }

        .title {
            width: 100%;
            color: $color-white;
            font-family: $font-JB_Mono;
            letter-spacing: -0.0625rem;
            font-size: 1.625rem;
            line-height: 2.275rem;
            font-weight: 500;
            padding: 0.5rem 0;
            transition: all ease-in-out 300ms;

            @media (max-width:$width-shortDesktop) {
                font-size: 1.625rem;
                line-height: 2.275rem;
                letter-spacing: -0.0625rem;
                padding: 0.625rem 0;
            }

            @media (max-width:$width-table) {
                font-size: 1.625rem;
                line-height: 2.275rem;
                letter-spacing: -0.0625rem;
                padding: 0.875rem 0;
            }

            @media (max-width:$width-mobile) {
                font-size: 1rem;
                line-height: 1.38rem;
                padding: 1rem 0;
            }
        }

        .colapse {
            width: 100%;
            color: $color-white;
            font-family: $font-JB_Mono;
            font-weight: 300;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;

            text {
                font-size: 0.875rem;
                line-height: 1.3rem;
                letter-spacing: -0.0625rem;
                margin-bottom: 0.2rem;
                width: 100%;
                display: block;

                @media (max-width:$width-shortDesktop) {
                    font-size: 0.875rem;
                    line-height: 1rem;
                    letter-spacing: -0.0625rem;
                }

                @media (max-width:$width-table) {
                    font-size: 0.875rem;
                    line-height: 1.3125rem;
                    letter-spacing: -0.0625rem;
                }

                @media (max-width:$width-mobile) {
                    font-size: 0.875rem;
                    line-height: 1.3125rem;
                    letter-spacing: -0.03125rem;
                }
            }

            li {
                border: none;
                padding-left: 0.5rem;
                transition: all ease-in-out 300ms;

                &:first-of-type {
                    padding-top: 0.5rem;
                }
            }
        }
    }
}