@import '../../global/variable.scss';

.text {
    font-size: 1.8rem;
    font-family: $font-Bebas;
    color: $color-white;
    font-weight: 500;
    width: 100%;
    letter-spacing: 0.2rem;
    height: 5rem !important;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scaleY(1.8);
}