@import '../../global/variable.scss';

.keys {
    width: calc(100% - 5.125rem);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;

    .titles {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 0.75rem;
        border-bottom: 1px solid $color-primary;
        margin-bottom: 1.5rem;

        .item {
            font-size: 2rem;
            font-weight: 400;
            line-height: 2.8rem;
            color: $color-white;
            font-family: $font-JB_Mono;
            cursor: pointer;
            text-align: center;
            text-wrap: nowrap;
            letter-spacing: -0.0625rem;

            &:last-of-type {
                margin-right: 0;
            }

            &.active {
                color: $color-primary;
            }

            @media (max-width:$width-shortDesktop) {
                margin-right: 6.75rem;
            }

            @media (max-width:$width-tableBig) {
                font-size: 1.7rem;
            }

        }
    }

    .info {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        position: relative;
        width: 100%;

        &.mask {
            opacity: 0;

            .item {
                position: relative;
                display: none;

                &.active {
                    display: block;
                }
            }
        }

        .item {
            width: 100%;
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
            transition: all ease-in-out 300ms;

            &.active {
                opacity: 1;
            }

            .q_a {
                margin: 1.5rem auto;

                .question {
                    text-transform: uppercase;
                    margin-bottom: 1rem;
                }
            }
        }
    }
}