@import '../../../global/variable.scss';

.work_days {
    color: $color-white;
    font-size: 1rem;
    font-family: $font-JB_Mono;
    font-weight: 300;
    line-height: 1.32rem;
    margin-bottom: 1.25rem;

    @media (max-width:$width-table) {
        font-size: 16px;
        line-height: 21.12px;
        margin-bottom: 20px;
    }
}

.socials {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 2rem;

    @media (max-width:$width-table) {
        font-size: 16px;
        line-height: 21.12px;
        margin-bottom: 32px;
    }

    .socialsBtn {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-right: 1.75rem;

        @media (max-width:$width-table) {
            margin-right: 28px;
        }

        img {
            width: 1.5rem;
            height: 1.5rem;
            margin-right: 0.75rem;

            @media (max-width:$width-table) {
                width: 24px;
                height: 24px;
                margin-right: 12px;
            }
        }

        .text {
            color: $color-white;
            font-size: 1rem;
            font-family: $font-JB_Mono;
            font-weight: 600;
            line-height: 1.32rem;

            @media (max-width:$width-table) {
                font-size: 16px;
                line-height: 21.12px;
            }
        }
    }
}