@import '../../../global/variable.scss';

.industries_wrapper {
    width: 100%;
    height: 100%;

    .industries {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-flow: row wrap;

        .industry {
            color: $color-white;
            font-size: 1.5rem;
            font-family: $font-JB_Mono;
            font-weight: 400;
            line-height: 2.1rem;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            pointer-events: all;
            padding: 0 1rem;
            padding-bottom: 0.75rem;
            box-sizing: border-box;
            cursor: pointer;
            transition: all ease-in-out 300ms;

            &:first-of-type {
                padding-left: 0;
            }

            &:last-of-type {
                padding-right: 0;
            }

            &.active {
                color: $color-primary;

                .plus {

                    &::before,
                    &::after {
                        background-color: $color-primary;
                    }
                }
            }

            &.hide {
                color: $color-neutral-50;

                .plus {

                    &::before,
                    &::after {
                        background-color: $color-neutral-50;
                    }
                }
            }

            .plus {
                width: 1.0125rem;
                height: 1.04625rem;
                margin-right: 1.25rem;
                position: relative;

                &::before {
                    content: '';
                    position: absolute;
                    top: calc(50% - 0.125rem/2);
                    left: 0;
                    width: 100%;
                    height: 0.125rem;
                    background-color: $color-white;
                }

                &::after {
                    content: '';
                    position: absolute;
                    top: 0%;
                    left: calc(50% - 0.125rem/2);
                    width: 0.125rem;
                    height: 1.04625rem;
                    background-color: $color-white;
                }
            }
        }
    }

    .detail {
        font-size: 0.875rem;
        color: $color-white;
        font-family: $font-JB_Mono;
        width: 100%;
        transition: all ease-in-out 300ms;

        .text {
            padding: 0.8125rem 0rem;
            padding-bottom: 2.125rem;
            border-top: 0.0625rem solid $color-primary;
        }
    }
}