@import '../../../global/variable.scss';

.industries_wrapper {
    width: 100%;
    height: 100%;

    .industries {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-flow: row wrap;

        .industry {
            color: $color-white;
            font-size: 1.5rem;
            font-family: $font-JB_Mono;
            font-weight: 400;
            line-height: 2.1rem;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            pointer-events: all;
            padding: 0 1rem;
            padding-bottom: 0.75rem;
            box-sizing: border-box;
            cursor: pointer;
            transition: all ease-in-out 300ms;

            @media (max-width:$width-table) {
                padding: 0 10px;
                font-size: 24px;
                margin-bottom: 30px;
            }

            &:first-of-type {
                padding-left: 0;
                line-height: 33.6px;
                letter-spacing: -1px;
            }

            &:last-of-type {
                padding-right: 0;
            }

            &.active {
                color: $color-primary; 

                .plus {

                    &::before,
                    &::after {
                        background-color: $color-primary;
                    }
                }
            }

            &.hide {
                color: $color-neutral-50;

                .plus {

                    &::before,
                    &::after {
                        background-color: $color-neutral-50;
                    }
                }
            }

            .plus {
                width: 1.0125rem;
                height: 1.04625rem;
                margin-right: 1.25rem;
                position: relative;
                transition: all ease-in-out 300ms;

                @media (max-width:$width-table) {
                    width: 16.2px;
                    height: 16.74px;
                    margin-right: 20px;
                }

                &::before {
                    content: '';
                    position: absolute;
                    top: calc(50% - 0.125rem/2);
                    left: 0;
                    width: 100%;
                    height: 0.125rem;
                    background-color: $color-white;
                    transition: all ease-in-out 300ms;

                    @media (max-width:$width-table) {
                        top: calc(50% - 3px/2);
                        height: 3px;
                    }
                }

                &::after {
                    content: '';
                    position: absolute;
                    top: 0%;
                    left: calc(50% - 0.125rem/2);
                    width: 0.125rem;
                    height: 1.04625rem;
                    background-color: $color-white;
                    transition: all ease-in-out 300ms;

                    @media (max-width:$width-table) {
                        left: calc(50% - 2px/2);
                        height: 16.74px;
                        width: 3px;
                    }
                }
            }
        }
    }

    .detail {
        font-size: 0.875rem;
        color: $color-white;
        font-family: $font-JB_Mono;
        width: 100%;
        transition: all ease-in-out 300ms;


        @media (max-width:$width-table) {
            font-size: 14px;
            line-height: 21px;
            letter-spacing: -1px;
        }

        .text {
            padding: 0.8125rem 0rem;
            padding-bottom: 2.125rem;
            border-top: 0.0625rem solid $color-primary;

            @media (max-width:$width-table) {
                font-size: 14px;
                line-height: 21px;
                letter-spacing: -1px;
                border-top: 1px solid $color-primary;
                padding: 12px 0rem;
                padding-bottom: 0;
            }
        }
    }
}