$font-JB_Mono: "JetBrains Mono", monospace;
$font-DM_Sans: "DM Sans", sans-serif;

$color-neutral-100: #292929;
$color-neutral-50: #4B4D5A;
$color-neutral-20: #A3A4AB;
$color-neutral-10: #E4E4E7;
$color-primary: #FEC532;
$color-white: #FFFFFF;

$width-shortDesktop: 1440px;