@import '../../global/variable.scss';

.wrapper {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 2.9375rem;

    @media (max-width:$width-shortDesktop) {
        padding: 0 3.125rem;
    }

    section {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .content {
            width: 49.8%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            h2 {
                width: 100%;
                font-family: $font-DM_Sans;
                color: $color-primary;
                font-weight: 800;
                font-size: 3.625rem;
                line-height: 4.16875rem;
                margin-bottom: 0rem;
                text-transform: uppercase;
                letter-spacing: 0.125rem;
                padding-top: 3.25rem; 
            }
        }

        .btn {
            width: 16rem;
            height: 6rem;
            margin-top: 1rem;
            margin-bottom: 2rem;
            margin-right: 3rem;

            @media (max-width:$width-shortDesktop) {
                width: 11.34625rem;
                height: 3rem;
            }

            @media (max-width: $width-table) {
                margin: 0 auto;
                margin-top: 1rem;
            }
        }
    }
}