@import '../../global/variable.scss';

.count_360 {
    display: block;
    pointer-events: none;

    &.active .wrapper {
        opacity: 1;
    }

    .wrapper {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-family: $font-JB_Mono;
        opacity: 0;
        transition: all ease-in-out 400ms;
        border-radius: 0.2rem;
        padding: 0 0.4rem;
        width: 23rem;



        .dash_line {
            height: 0.3rem;
            width: 2rem;
            margin: 0 0.5rem;
            margin-left: -0.2rem;
            background-color: $color-white;
        }

        .number_current,
        .number_360 {
            font-size: 4rem;
            letter-spacing: -0.1rem;
            font-weight: 300;
        }

        .number_current {
            color: $color-primary;
        }

        .number_360 {
            color: $color-white;
        }
    }
}