@import '../../global/variable.scss';

.wrapper {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 2.9375rem;

    @media (max-width:$width-shortDesktop) {
        padding: 0 3.125rem;
    }

    section {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .content {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;

            .click {
                font-family: $font-Bebas;
                font-size: 4rem;
                font-weight: 400;
                letter-spacing: 0.3rem;
                text-transform: uppercase;
                color: $color-white;
                transform: scaleY(1.2);

                @media (max-width:$width-shortDesktop) {
                    font-size: 3rem;
                }

                @media (max-width:$width-shortDesktop) {
                    font-size: 2.8rem;
                }

                @media (max-width:$width-table) {
                    font-size: 2.8rem;
                }

                span{
                    color: $color-primary;
                }
            }

            .btn {
                width: 16.2rem;
                height: 4.188rem;
                margin-bottom: 6.25rem;

                @media (max-width:$width-shortDesktop) {
                    width: 11.34625rem;
                    height: 3rem;
                    margin-bottom: 4.25rem;
                }

                @media (max-width:$width-tableBig) {
                    margin-bottom: 2rem;
                }
            }
        }
    }
}

.controller__wrapper {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 7rem;

    .controller {
        width: 2.2rem;
        height: 5rem;
        border: 1px solid $color-white;
        border-radius: 1.8rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        position: relative;


        .circle {
            width: 1.3rem;
            height: 1.3rem;
            border-radius: 4rem;
            border: 1px solid $color-white;
            margin-top: 0.4rem;
        }

        .dot {
            width: 0.6rem;
            height: 0.6rem;
            border-radius: 50%;
            background-color: $color-white;
            position: absolute;
            left: calc(50% - 0.3rem);
            top: calc(50% - 0.3rem);
            animation: controllerDotAnimation 2s infinite;
        }
    }

}

@keyframes controllerDotAnimation {
    0% {
        transform: translateY(0em);
    }

    50% {
        transform: translateY(1.3em);
    }

    100% {
        transform: translateY(0em);
    }
}