@import '../../global/variable.scss';

.wrapper {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 2.9375rem;

    @media (max-width:$width-shortDesktop) {
        padding: 0 3.125rem;
    }

    .case {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;

        section {
            width: 100%;
            min-height: 80dvh;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            padding: 3.25rem 0;

            @media (max-width:$width-shortDesktop) {
                min-height: 76.4dvh;
            }

            @media (max-width: $width-tableBig) {
                padding: 3.125rem 0;
            }

            h2 {
                font-size: 3.625rem;
                line-height: 4.16875rem;
                letter-spacing: 0.125rem;
                font-weight: 800;
                color: $color-primary;
                font-family: $font-DM_Sans;
                text-transform: uppercase;
                margin-bottom: 1.75rem;
            }

            .description {
                font-size: 1.5rem;
                line-height: 2rem;
                letter-spacing: -0.125rem;
                font-weight: 400;
                color: $color-white;
                font-family: $font-JB_Mono;
                margin-bottom: 2rem;

                p {
                    margin-bottom: 0.8rem;
                }

                @media (max-width:$width-shortDesktop) {
                    font-size: 1.25rem;
                    line-height: 1.875rem;
                }

                @media (max-width: $width-tableBig) {
                    margin-bottom: 1.3rem;
                }
            }

            &.main_info {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                flex-direction: row;
                align-self: stretch;

                .content {
                    width: auto;
                }

                .photo {
                    height: 100%;
                    width: 64.625rem;
                    min-width: 64.625rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    @media (max-width:$width-shortDesktop) {
                        width: 42.5rem;
                        min-width: 42.5rem;
                    }

                    @media (max-width:$width-tableBig) {
                        width: 31.125rem;
                        min-width: 31.125rem;
                    }

                    .image_wrapper {
                        width: 50.875rem;
                        min-height: 68dvh;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        overflow: hidden;
                        position: relative;
                        border-radius: 1.5rem;
                        background-size: cover;
                        background-position: center;

                        @media (max-width:$width-shortDesktop) {
                            width: 30.3125rem;
                            min-height: 66dvh;
                        }

                        @media (max-width:$width-tableBig) {
                            width: 19.9375rem;
                            min-height: 68dvh;
                        }
                    }
                }

                .customer_block {
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                    flex-direction: column;

                    .customer {
                        font-size: 1.5rem;
                        line-height: 2.1rem;
                        font-weight: 400;
                        color: $color-primary;
                        font-family: $font-JB_Mono;
                        margin-bottom: 0.875rem;
                    }

                    .logo {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;

                        img {
                            width: 2.470625rem;
                            height: auto;
                            margin-right: 0.625rem;
                        }

                        h3 {
                            font-size: 1.646875rem;
                            line-height: 2.470625rem;
                            font-weight: 700;
                            color: $color-white;
                            font-family: $font-DM_Sans;
                        }
                    }
                }
            }

            &.about_info {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: row;

                .points {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                    flex-direction: column;
                    padding: 1rem;

                    li {
                        display: flex;
                        justify-content: flex-start;
                        align-items: flex-start;
                        flex-direction: column;
                        margin-bottom: 1.625rem;
                        width: 100%;

                        &:last-of-type {
                            margin-bottom: 0;
                        }

                        .title {
                            width: 100%;
                            font-weight: 400;
                            font-size: 2rem;
                            line-height: 2.8rem;
                            color: $color-primary;
                            font-family: $font-JB_Mono;
                            padding-bottom: 0.75rem;
                            border-bottom: 1px solid $color-primary;
                        }

                        .content {
                            padding: 1rem 0;

                            p {
                                font-size: 1.5rem;
                                line-height: 1.7rem;
                                font-weight: 400;
                                color: $color-white;
                                font-family: $font-JB_Mono;
                                margin-bottom: 0.5rem;

                                @media (max-width:$width-shortDesktop) {
                                    font-size: 1.25rem;
                                    line-height: 1.875rem;
                                }
                            }

                            ul {
                                width: 100%;
                                color: $color-white;
                                font-family: $font-JB_Mono;
                                margin: 1rem auto;

                                li {
                                    margin-bottom: 0.5rem;

                                    p {
                                        font-size: 1.5rem;
                                        line-height: 1.5rem;
                                        font-weight: 400;

                                        b {
                                            color: $color-primary;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                // .message {
                //     width: 100%;
                //     max-width: 38.125rem;
                //     display: flex;
                //     justify-content: center;
                //     align-items: center;
                //     flex-direction: column;
                //     padding-left: 3.25rem;
                //     padding-right: 4.5625rem;

                //     .avatar {
                //         width: 7.875rem;
                //         height: 7.875rem;
                //         border-radius: 50%;
                //         overflow: hidden;
                //         margin-bottom: 2.25rem;

                //         img {
                //             width: 100%;
                //             height: auto;
                //         }
                //     }

                //     .text {
                //         text-align: center;
                //         font-size: 1.25rem;
                //         line-height: 1.875rem;
                //         letter-spacing: -0.0625rem;
                //         color: $color-white;
                //         font-family: $font-JB_Mono;
                //         margin-bottom: 2.25rem;
                //     }

                //     .name {
                //         font-size: 1.375rem;
                //         line-height: 2.0625rem;
                //         font-weight: 700;
                //         text-transform: uppercase;
                //         color: $color-primary;
                //         font-family: $font-JB_Mono;
                //     }

                //     .position,
                //     .company {
                //         font-size: 1rem;
                //         line-height: 1.5rem;
                //         text-transform: uppercase;
                //         font-weight: 400;
                //         color: $color-white;
                //         font-family: $font-JB_Mono;
                //     }
                // }
            }
        }
    }
}