@import '../../global/variable.scss';

.wrapper {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 2.9375rem;

    section {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .content {
            width: 50%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;

            .lies_info {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                border-left: 0.125rem solid $color-primary;
                padding-left: 2rem;
                margin-bottom: 2.5rem;

                h2 {
                    font-family: $font-JB_Mono;
                    color: $color-white;
                    font-weight: 500;
                    font-size: 1.625rem;
                    line-height: 2.275rem;
                    margin-bottom: 2rem;
                }

                h3 {
                    font-family: $font-JB_Mono;
                    color: $color-white;
                    font-weight: 400;
                    font-size: 1.25rem;
                    line-height: 1.875rem;
                }
            }
        }
    }
}