@import '../../global/variable.scss';

.wrapper {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 3.1875rem;

    @media (max-width:$width-mobile) {
        padding: 0 1.25rem;
    }

    .case {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;

        section {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            padding: 3rem 0;

            @media (max-width:$width-mobile) {
                padding: 2.375rem 0;
            }

            h2 {
                font-size: 3.625rem;
                line-height: 4.16875rem;
                letter-spacing: 0.125rem;
                font-weight: 800;
                color: $color-primary;
                font-family: $font-DM_Sans;
                text-transform: uppercase;
                margin-bottom: 1.25rem;
                text-align: center;

                @media (max-width:$width-mobile) {
                    font-size: 2rem;
                    line-height: 2.3rem;
                }
            }

            &.main_info {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                flex-direction: row;
                align-self: stretch;
                flex-direction: column;

                .content {
                    width: auto;
                    margin-bottom: 3.125rem;
                }

                .photo {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .video__wrapper {
                        width: 100%;
                        height: auto;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        overflow: hidden;
                        border-radius: 1.5rem;
                        background-color: $btn-bg;
                        box-shadow: 0 0 1rem 0.1rem rgb(254 197 50 / 30%);

                        video {
                            width: 100%;
                            height: auto;
                            opacity: 0;
                            transition: all ease-in-out 300ms;

                            &.active {
                                opacity: 1;
                            }
                        }
                    }
                }

                .customer_block {
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                    flex-direction: column;
                    margin-top: 2rem;

                    .customer {
                        font-size: 2rem;
                        line-height: 1.5;
                        font-weight: 400;
                        color: $color-primary;
                        font-family: $font-JB_Mono;
                        margin-bottom: 1rem;
                    }

                    .logo {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;

                        h3 {
                            font-size: 1.646875rem;
                            line-height: 2.470625rem;
                            font-weight: 700;
                            color: $color-white;
                            font-family: $font-DM_Sans;
                        }
                    }
                }
            }

            &.about_info {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: row;
                flex-direction: column;

                .points {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                    flex-direction: column;
                    border-bottom: 1px solid $color-primary;

                    li {
                        display: flex;
                        justify-content: flex-start;
                        align-items: flex-start;
                        flex-direction: column;
                        margin-bottom: 1.625rem;
                        padding-left: 0rem;
                        width: 100%;


                        &::before {
                            content: none;
                        }

                        p {
                            margin-bottom: 1rem;

                            @media (max-width:$width-shortDesktop) {
                                margin-bottom: 0.75rem;
                            }

                            @media (max-width:$width-tableBig) {
                                margin-bottom: 0.5rem;
                            }
                        }

                        ul li {
                            margin-bottom: 0.2rem;
                            padding-left: 1.5rem;

                            @media (max-width:$width-mobile) {
                                padding-left: 1rem;
                                margin-bottom: 0.5rem;
                            }

                            &::before {
                                content: '';
                            }

                            p {
                                margin-bottom: 0;
                            }
                        }

                        &:last-of-type {
                            margin-bottom: 0;
                        }

                        .title {
                            width: 100%;
                            font-weight: 400;
                            font-size: 2rem;
                            line-height: 1.2;
                            color: $color-primary;
                            font-family: $font-JB_Mono;
                            padding-bottom: 0.75rem;
                            border-bottom: 1px solid $color-primary;
                        }

                        .content {
                            padding: 1rem 0;
                        }
                    }
                }

                .message {
                    width: 100%;
                    max-width: 30.3125rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;

                    .avatar {
                        width: 7.875rem;
                        height: 7.875rem;
                        border-radius: 50%;
                        overflow: hidden;
                        margin-bottom: 2.25rem;

                        img {
                            width: 100%;
                            height: auto;
                        }
                    }

                    .text {
                        text-align: center;
                        font-size: 1.25rem;
                        line-height: 1.875rem;
                        letter-spacing: -0.0625rem;
                        color: $color-white;
                        font-family: $font-JB_Mono;
                        margin-bottom: 2.25rem;
                    }

                    .name {
                        font-size: 1.375rem;
                        line-height: 2.0625rem;
                        font-weight: 700;
                        text-transform: uppercase;
                        color: $color-primary;
                        font-family: $font-JB_Mono;
                    }

                    .position,
                    .company {
                        font-size: 1rem;
                        line-height: 1.5rem;
                        text-transform: uppercase;
                        font-weight: 400;
                        color: $color-white;
                        font-family: $font-JB_Mono;
                    }
                }
            }
        }

        p {
            font-size: 1.3rem;
            line-height: 1.2;
            letter-spacing: -0.1rem;
            font-weight: 400;
            color: $color-white;
            font-family: $font-JB_Mono;
            margin-bottom: 0.5rem;

            @media (max-width:$width-mobile) {
                font-size: 1rem;
            }
        }

        ul {
            width: 100%;
            color: $color-white;
            font-family: $font-JB_Mono;

            li {
                padding-left: 1.5rem;
                position: relative;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                margin-bottom: 0.2rem;

                @media (max-width:$width-mobile) {
                    padding-left: 1rem;
                    margin-bottom: 0.5rem;
                }

                &::before {
                    content: '';
                    position: absolute;
                    left: 0.2rem;
                    top: calc(50% - 0.2rem);
                    width: 0.4rem;
                    height: 0.4rem;
                    background-color: $color-primary;
                    border-radius: 50%;
                }

                p {
                    margin-bottom: 0;
                }
            }
        }

        b {
            color: $color-primary;
        }

        .q_a p {
            margin-bottom: 0;
        }
    }
}