@import '../../global/variable.scss';

.header {
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    transition: all ease-in-out 300ms;
    transform: translateY(0rem);

    &.visible {
        transform: translateY(0rem);

        @media (max-width:$width-tableBig) {}
    }

    &.hidden {
        transform: translateY(0rem);

        @media (max-width:$width-tableBig) {
            transform: translateY(-7rem);
        }
    }
}