@import '../../global/variable.scss';

.header {
    z-index: 100;
    left: 0;
    top: 0;
    transition: all ease-in-out 300ms;
    transform: translateY(0rem);
    border-bottom: 1px solid $color-white;

    @media (max-width:$width-table) {
        position: fixed;
    }

    &.visible {
        transform: translateY(0rem);
    }

    &.hidden {
        transform: translateY(0rem);

        @media (max-width:$width-table) {
            transform: translateY(-7rem);
        }
    }
}