@import '../../global/variable.scss';

.footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-self: flex-start;
    width: 100%;
    height: 5rem;
    border-top: 0.0626rem solid $color-white;

    .lang_switcher {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 3;

        button {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0.5rem;
            margin-left: 0.375rem;

            &:nth-of-type(1) {
                margin-left: 0;
            }

            span {
                font-size: 1rem;
                font-family: $font-JB_Mono;
                font-weight: 400;
                line-height: 100%;
                color: $color-white;
                transition: all ease-in-out 300ms;
            }

            img {
                margin-left: 0.5rem;
                filter: grayscale(1);
                transition: all ease-in-out 300ms;
            }

            &.active {
                span {
                    color: $color-primary;
                }

                img {
                    filter: grayscale(0);
                }
            }
        }
    }
}