@import '../../global/variable.scss';

.work_days {
    color: $color-white;
    font-size: 1rem;
    font-family: $font-JB_Mono;
    font-weight: 300;
    line-height: 1.32rem;
    margin-bottom: 1.25rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

    @media (max-width:$width-shortDesktop) {
        font-size: 1rem;
        line-height: 1.32rem;
        margin-bottom: 1.25rem;
    }

    @media (max-width:$width-table) {
        font-size: 1rem;
        line-height: 1.32rem;
        margin-bottom: 1.25rem;
    }

    @media (max-width:$width-mobile) {
        font-size: 1rem;
        line-height: 1.32rem;
        margin-bottom: 1.25rem;
        letter-spacing: -0.0625rem;
        text-align: center;
    }

    li {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;

        .day {
            width: 6.5rem;
        }
    }
}

.socials {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 2rem;

    @media (max-width:$width-shortDesktop) {
        margin-bottom: 2rem;
    }

    @media (max-width:$width-table) {
        margin-bottom: 2rem;
    }

    @media (max-width:$width-mobile) {
        margin-bottom: 1.25rem;
        flex-flow: row wrap;
        justify-content: space-around;
    }

    .socialsBtn {
        margin-right: 1.75rem;

        @media (max-width:$width-shortDesktop) {
            margin-right: 1.75rem;
        }

        @media (max-width:$width-table) {
            margin-right: 1.75rem;
        }

        @media (max-width:$width-mobile) {
            margin-right: 0;
            margin-bottom: 0.875rem;
        }

        &:last-of-type {
            margin-right: 0;
        }

        a {
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }

        img {
            width: 1.5rem;
            height: 1.5rem;
            margin-right: 0.75rem;

            @media (max-width:$width-shortDesktop) {
                width: 1.5rem;
                height: 1.5rem;
                margin-right: 0.75rem;
            }

            @media (max-width:$width-table) {
                width: 1.5rem;
                height: 1.5rem;
                margin-right: 0.75rem;
            }

            @media (max-width:$width-mobile) {
                width: 1.5rem;
                height: 1.5rem;
                margin-right: 0.75rem;
            }
        }

        .text {
            color: $color-white;
            font-size: 1rem;
            font-family: $font-JB_Mono;
            font-weight: 600;
            line-height: 1.32rem;

            @media (max-width:$width-shortDesktop) {
                font-size: 1rem;
                line-height: 1.32rem;
            }

            @media (max-width:$width-table) {
                font-size: 1rem;
                line-height: 1.32rem;
            }

            @media (max-width:$width-mobile) {
                font-size: 1rem;
                line-height: 1.32rem;
            }
        }
    }
}