@import '../../../global/variable.scss';

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 12;
    background-color: #00000054;
    box-shadow: 0 0 80rem inset rgb(0 0 0);

    .form__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 36.5rem;
        padding: 1.875rem 3.125rem;
        border-radius: 1.5rem;
        overflow: hidden;
        border: 2px solid $color-neutral-20;
        position: relative;
        box-shadow: 0 0 4rem inset rgb(85 85 85 / 46%);

        @media (max-width:$width-tableBig) {
            width: 45rem;
            padding: 2rem;
        }

        @media (max-width:$width-table) {
            width: 35rem;
            padding: 2rem;
        }

        @media (max-width:$width-mobile) {
            width: 17.25rem;
            padding: 1.25rem;
        }

        &:hover {
            &::before {
                background-color: rgb(255 248 97 / 7%);
            }
        }

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            backdrop-filter: blur(0.3rem);
            transition: all ease-in-out 300ms;
            background-color: #fec53200;
        }

        .cross {
            position: absolute;
            right: 2.125rem;
            top: 1.59375rem;
            padding: 0.5rem;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;

            @media (max-width:$width-tableBig) {
                transform: scale(1.2);
            }

            @media (max-width:$width-table) {
                transform: scale(1);
                right: 0.5rem;
                top: 0.5rem;
            }

            img {
                width: 1.5rem;
                height: auto;
            }
        }

        .title {
            color: $color-white;
            font-family: $font-JB_Mono;
            font-size: 1.75rem;
            line-height: 2.31rem;
            margin-bottom: 1.25rem;

            @media (max-width:$width-tableBig) {
                font-size: 2.3rem;
                line-height: 3rem;
            }

            @media (max-width:$width-mobile) {
                font-size: 1.25rem;
                line-height: 1.725rem;
            }
        }

        form {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .item__wraper {
                width: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                flex-direction: column;
                margin-bottom: 1rem;

                .label__wrapper {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding-bottom: 0.75rem;

                    label {
                        color: $color-white;
                        font-family: $font-JB_Mono;
                        font-size: 0.875rem;
                        line-height: 1.155rem;
                        padding-right: 1rem;
                        cursor: pointer;

                        @media (max-width:$width-tableBig) {
                            font-size: 1.5rem;
                            line-height: 2rem;
                        }

                        @media (max-width:$width-table) {
                            font-size: 1rem;
                            line-height: 1.3rem;
                        }
                    }

                    .required {
                        color: $color-primary;
                        font-family: $font-JB_Mono;
                        font-size: 0.875rem;
                        line-height: 1.155rem;
                        opacity: 0;
                        transition: all ease-in-out 400ms;
                        transition-delay: 200ms;

                        &.active {
                            opacity: 1;
                        }

                        @media (max-width:$width-tableBig) {
                            font-size: 1.5rem;
                            line-height: 2rem;
                        }

                        @media (max-width:$width-table) {
                            font-size: 1rem;
                            line-height: 1.3rem;
                        }

                        @media (max-width: $width-mobile) {
                            display: none;
                        }
                    }
                }

                .input__wrapper {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;

                    .invalid {
                        position: absolute;
                        right: 1.25rem;
                        top: calc(50% - 0.5rem);
                        width: 1rem;
                        height: 1rem;
                        background-size: cover;
                        pointer-events: none;
                        opacity: 0;
                        transition: all ease-in-out 400ms;

                        &.active {
                            opacity: 1;
                        }
                    }

                    input {
                        width: 100%;
                        border: 1px solid $color-white;
                        background-color: transparent;
                        padding: 0.75rem 1.25rem;
                        height: 2.8125rem;
                        border-radius: 2.8125rem;
                        color: $color-white;
                        font-family: $font-JB_Mono;
                        font-size: 1rem;
                        line-height: 1.32rem;
                        font-weight: 300;
                        outline: none;

                        &::placeholder {
                            color: $color-neutral-20;
                        }

                        &.invalid_input {
                            border: 1px solid $color-primary;
                        }

                        @media (max-width:$width-tableBig) {
                            font-size: 1.5rem;
                            line-height: 2rem;
                            height: 3.2rem;
                        }

                        @media (max-width:$width-table) {
                            font-size: 1rem;
                            line-height: 1.3rem;
                            height: 2.8125rem;
                        }
                    }
                }

                textarea {
                    width: 100%;
                    height: 6.9375rem;
                    border: 1px solid $color-white;
                    background-color: transparent;
                    padding: 0.75rem 1.25rem;
                    border-radius: 1.5rem;
                    color: $color-white;
                    font-family: $font-JB_Mono;
                    font-size: 1rem;
                    line-height: 1.32rem;
                    font-weight: 300;
                    overflow: hidden;
                    resize: none;
                    outline: none;

                    &::placeholder {
                        color: $color-neutral-20;
                    }

                    &.invalid_input {
                        border: 1px solid $color-primary;
                    }

                    @media (max-width:$width-tableBig) {
                        font-size: 1.5rem;
                        line-height: 2rem;
                    }

                    @media (max-width:$width-table) {
                        font-size: 1rem;
                        line-height: 1.3rem;
                    }
                }

                .required_mobile {
                    display: none;
                    color: $color-primary;
                    font-family: $font-JB_Mono;
                    font-size: 0.875rem;
                    line-height: 1.155rem;
                    opacity: 0;
                    max-height: 0;
                    padding-top: 0.625rem;
                    transition: all ease-in 400ms;

                    &.active {
                        opacity: 1;
                        max-height: 2.155rem;
                    }

                    @media (max-width: $width-mobile) {
                        display: block;
                    }
                }
            }

            .btn {
                height: 3rem;
                width: 10.65875rem;

                @media (max-width:$width-tableBig) {
                    transform: scale(1.2);
                    margin-top: 1rem;
                }

                @media (max-width:$width-table) {
                    transform: scale(1);
                    margin-top: 0rem;
                }

                button {
                    font-size: 1.125rem;

                    &:hover {
                        border: 2px solid $color-primary;

                        .text {
                            display: none;

                            .arrow__wrapper {
                                width: 0.78375rem;
                                margin-left: 0.5rem;

                                @media (max-width:$width-shortDesktop) {
                                    width: 0.78375rem;
                                    margin-left: 0.5rem;
                                }

                                img {
                                    transform: rotate(0deg) translateX(0rem) translateY(0rem);
                                    opacity: 1;
                                }
                            }
                        }

                    }

                    .text {
                        .arrow__wrapper {

                            img {
                                transform: rotate(45deg) translateX(-1.5625rem) translateY(1.5625rem);
                                opacity: 0;
                                width: 100%;
                                height: auto;
                                transition: all ease-out 400ms;
                            }
                        }
                    }
                }
            }
        }
    }
}