@import '../../global/variable.scss';

.button {
    width: 100%;
    height: 100%;
    border-radius: 10rem;
    background-color: $color-primary;

    .text {
        font-family: $font-JB_Mono;
        color: $color-neutral-100;
        font-weight: 700;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;

        img {
            height: auto;
        }
    }
}