@import '../../global/variable.scss';

.wrapper {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 2.9375rem;

    @media (max-width:$width-shortDesktop) {
        padding: 0 3.125rem;
    }

    .case {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;

        section {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            padding: 3.25rem 0;

            @media (max-width: $width-tableBig) {
                padding: 3.125rem 0;
            }

            h2 {
                font-size: 3.625rem;
                line-height: 1.1;
                letter-spacing: 0.125rem;
                font-weight: 800;
                color: $color-primary;
                font-family: $font-DM_Sans;
                text-transform: uppercase;
                margin-bottom: 1.75rem;

                @media (max-width:$width-tableBig) {
                    font-size: 3rem;
                }
            }

            &.main_info {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                flex-direction: row;
                align-self: stretch;

                .content {
                    width: auto;
                }

                .photo {
                    height: 100%;
                    width: 50rem;
                    min-width: 50rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    @media (max-width:$width-shortDesktop) {
                        width: 42.5rem;
                        min-width: 42.5rem;
                    }

                    @media (max-width:$width-tableBig) {
                        width: 31.125rem;
                        min-width: 31.125rem;
                    }

                    .image_wrapper {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: flex-start;
                        position: relative;
                        border-radius: 1.5rem;
                        background-size: cover;
                        background-position: center;
                        margin: 0 3rem;

                        @media (max-width:$width-shortDesktop) {
                            width: 30.3125rem;
                        }

                        @media (max-width:$width-tableBig) {
                            width: 30rem;
                        }

                        .video__wrapper {
                            background-color: $btn-bg;
                            width: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 2rem;
                            box-shadow: 0 0 1rem 0.1rem rgb(254 197 50 / 40%);
                            overflow: hidden;
                            background-color: $btn-bg;
                        }

                        video {
                            width: 100%;
                            height: auto;
                            opacity: 0;
                            transition: all ease-in-out 300ms;

                            &.active {
                                opacity: 1;
                            }
                        }
                    }
                }

                .customer_block {
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                    flex-direction: column;
                    margin-top: 1rem;

                    @media (max-width:$width-shortDesktop) {
                        margin-top: 1rem;
                    }

                    .customer {
                        font-size: 1.5rem;
                        line-height: 2.1rem;
                        font-weight: 600;
                        color: $color-primary;
                        font-family: $font-JB_Mono; 

                        @media (max-width:$width-shortDesktop) {
                            font-size: 1.2rem; 
                        }
                    }

                    .logo {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;

                        img {
                            width: 2.470625rem;
                            height: auto;
                            margin-right: 0.625rem;
                        }

                        h3 {
                            font-size: 1.646875rem;
                            line-height: 1;
                            font-weight: 700;
                            color: $color-white;
                            font-family: $font-DM_Sans;

                            @media (max-width:$width-shortDesktop) {
                                font-size: 1.2rem;
                            }
                        }
                    }
                }

                .btns_wrapper {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding-top: 3rem;

                    .btn_arrow {
                        width: 10rem;
                        height: 4.188rem;

                        @media (max-width:$width-shortDesktop) {
                            width: 7rem;
                            height: 3rem;
                        }

                        polygon {
                            fill: $color-neutral-100;
                            transition: all ease-in-out 400ms;
                        }

                        &:hover {
                            polygon {
                                fill: $color-primary;
                            }
                        }
                    }

                    .btn {
                        width: 16.2rem;
                        height: 4.188rem;

                        @media (max-width:$width-shortDesktop) {
                            width: 11.34625rem;
                            height: 3rem;
                        }
                    }
                }
            }

            &.about_info {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: row;

                .points {
                    width: calc(100% - 3rem);
                    height: 100%;
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                    flex-direction: column;

                    li {
                        display: flex;
                        justify-content: flex-start;
                        align-items: flex-start;
                        flex-direction: column;
                        margin-bottom: 1.625rem;
                        padding-left: 0rem;
                        width: 100%;

                        &::before {
                            content: none;
                        }

                        p {
                            margin-bottom: 1rem;

                            @media (max-width:$width-shortDesktop) {
                                margin-bottom: 0.75rem;
                            }

                            @media (max-width:$width-tableBig) {
                                margin-bottom: 0.5rem;
                            }
                        }

                        ul li {
                            margin-bottom: 0.5rem;
                            padding-left: 1rem;

                            @media (max-width:$width-shortDesktop) {
                                padding-left: 1.5rem;
                            }

                            @media (max-width:$width-tableBig) {
                                padding-left: 1rem;
                            }

                            &::before {
                                content: '';
                            }

                            p {
                                margin-bottom: 0;
                            }
                        }

                        &:last-of-type {
                            margin-bottom: 0;
                        }

                        .title {
                            width: 100%;
                            font-weight: 400;
                            font-size: 2rem;
                            line-height: 1.2;
                            color: $color-primary;
                            font-family: $font-JB_Mono;
                            padding-bottom: 0.75rem;
                            border-bottom: 1px solid $color-primary;

                            @media (max-width:$width-shortDesktop) {
                                font-size: 1.5rem;
                            }
                        }

                        .content {
                            padding: 1rem 0;
                        }
                    }
                }
            }
        }
    }

    p {
        font-size: 1.5rem;
        line-height: 1.2;
        letter-spacing: -0.1rem;
        font-weight: 400;
        color: $color-white;
        font-family: $font-JB_Mono;
        margin-bottom: 1rem;

        @media (max-width:$width-shortDesktop) {
            font-size: 1.1rem;
            margin-bottom: 0.75rem;
        }

        @media (max-width:$width-tableBig) {
            font-size: 1rem;
            margin-bottom: 0.5rem;
        }
    }

    ul {
        width: 100%;
        color: $color-white;
        font-family: $font-JB_Mono;

        li {
            padding-left: 1rem;
            position: relative;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 0.5rem;

            @media (max-width:$width-shortDesktop) {
                padding-left: 1.5rem;
            }

            @media (max-width:$width-tableBig) {
                padding-left: 1rem;
            }

            &::before {
                content: '';
                position: absolute;
                left: 0.2rem;
                top: 0.6rem;
                width: 0.4rem;
                height: 0.4rem;
                background-color: $color-primary;
                border-radius: 50%;
            }

            p {
                margin-bottom: 0;
                text-align: justify;
            }
        }
    }

    b,
    a {
        color: $color-primary;
        font-weight: bold;
    }

    a {
        display: inline-block;
        margin: 2rem 0;
    }

    .q_a p {
        margin-bottom: 0;
    }
}