@import './global/variable.scss';

* {
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
#root {
    width: 100%;
    height: 100dvh;
}

#root {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
    pointer-events: auto;
    cursor: pointer;
}

button {
    background-color: transparent;
    text-decoration: none;
    color: white;
    border: none;
    pointer-events: auto;
    cursor: pointer;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

header,
main {
    width: 100%;
}

main {
    height: 100%;
    overflow: hidden;
}

html {
    font-size: 0.833334vw;
    user-select: none;

    @media (max-width:$width-shortDesktop) {
        font-size: 1.11113vw;
    }

    @media (max-width:$width-tableBig) {
        font-size: 1.269841vw;
    }

    @media (max-width:$width-table) {
        font-size: 2.1538vw;
    }

    @media (max-width:$width-mobile) {
        font-size: 5vw;
    }
}

.experience {
    width: 100%;
    opacity: 0;
    transition: all ease-in-out 400ms;


    &.active {
        opacity: 1;
    }
}