* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
#root {
  width: 100%;
  height: 100dvh;
}

#root {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
  pointer-events: auto;
  cursor: pointer;
}

button {
  background-color: transparent;
  text-decoration: none;
  color: white;
  border: none;
  pointer-events: auto;
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

header,
main,
footer {
  width: 100%;
}

main {
  height: 100%;
}

html {
  font-size: 0.833334vw;
  user-select: none;

  @media (max-width: 1400px) {
    font-size: 1.11112vw;
  }
}

main {
  overflow: hidden;
  padding: 0.5rem 0;
}