@import '../../global/variable.scss';

.wrapper {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 2.9375rem;

    section {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .content {
            width: 55.597%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;

            .contact_wrapper {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                margin-bottom: 2rem;

                h2 {
                    color: $color-white;
                    font-size: 3.625rem;
                    font-weight: 800;
                    line-height: 4.16875rem;
                    font-family: $font-DM_Sans;
                    text-transform: uppercase;
                    margin-right: 1.875rem;
                }

                .contactBtn {
                    width: 34.938rem;
                    height: 3.5625rem;
                    border: 1px solid $color-primary;
                    border-radius: 3.125rem;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    background: linear-gradient(0.25turn, #FEC532 50%, #98761E00);

                    .text {
                        height: 100%;
                        width: 100%;
                        color: $color-neutral-100;
                        font-size: 0.875rem;
                        font-family: $font-JB_Mono;
                        font-weight: 300;
                        line-height: 1.3125;
                        padding: 18px 34px;
                        box-sizing: border-box;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                    }

                    .copy {
                        height: 100%;
                        font-size: 1rem;
                        font-weight: 400;
                        font-family: $font-DM_Sans;
                        line-height: 1.301875rem;
                        padding: 18px 34px;
                        box-sizing: border-box;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }

            .work_days {
                color: $color-white;
                font-size: 1rem;
                font-family: $font-JB_Mono;
                font-weight: 300;
                line-height: 1.32rem;
                margin-bottom: 1.25rem;
            }

            .socials {
                width: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                margin-bottom: 2rem;

                .socialsBtn {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    margin-right: 1.75rem;

                    img {
                        width: 1.5rem;
                        height: 1.5rem;
                        margin-right: 0.75rem;
                    }

                    .text {
                        color: $color-white;
                        font-size: 1rem;
                        font-family: $font-JB_Mono;
                        font-weight: 600;
                        line-height: 1.32rem;
                    }
                }
            }

            .sub_btns {
                display: flex;
                justify-content: flex-start;
                align-items: center;

                .discover {
                    width: 11.34625rem;
                    height: 3rem;
                    margin-right: 2rem;

                    button {
                        font-size: 18px;
                    }
                }

                .office {
                    width: 13.40875rem;
                    height: 3rem;

                    button {
                        font-size: 18px;
                    }
                }
            }
        }
    }
}